In [45]:
# 함수에서 Shift + Tab을 누르면 Parameter를 확인 가능
# 함수에서 Tab을 누르면 해당 함수가 보유한 함수 확인 가능

word = "aabbccddee"

In [50]:
print(word[0:3])
# 0 ~ 2
print(word[3:6])
# 3 ~ 5

print(word[::])
# 처음 ~ 끝
print(word[::-1])
# 처음 ~ 끝까지 step = -1
print(word[::2])
# 처음 ~ 끝까지 step = 2

aab
bcc
aabbccddee
eeddccbbaa
abcde

In [51]:
print(word.count("z"))
# string 내 해당 string 출현 수 return

0

In [52]:
print(word.index("c"))
# string 내 해당 string 출현 index return

4

In [54]:
print(", ".join(word))
# word string에 ", "를 넣어서 새로운 string return

a, a, b, b, c, c, d, d, e, e

In [58]:
print(word[len(word)-1])
# string의 가장 마지막 return

e

In [65]:
string1 = "pyt\thon is f\nun"

print(string1.split())
# string을 parameter를 기준으로 분리하여 list 생성 후 return
# 기본 값은 white space

print(string1.split("n"))

['pyt', 'hon', 'is', 'f', 'un']
['pyt\tho', ' is f\nu', '']

In [70]:
number_list = [1, 2, 3, 4]
els = list()
season = ["spring", "summer", "fall", "winter"]

In [80]:
range(1, 11)

range(1, 11)

In [82]:
# 리스트 더하기 및 반복
a = [1, 2, 3]
b = [4, 5, 6]

print(a + b)
print(a * 3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [93]:
# List packing, unpacking
t = [1, 2, 3]
t1, t2, t3 = t

print(t1, t2, t3)
print(type(t1))

1 2 3
<class 'int'>

실습 문제4)
날짜(연/월/일)입력 : 2022/03/29
입력한 날짜의 10년 후는 2032년 3월 29일

In [111]:
date = input("날짜(연/월/일)입력:")

date_list = date.split("/")

for i in range(len(date_list)):
    date_list[i] = int(date_list[i])

print("입력한 날짜의 10년 후는 %d년 %d월 %d일" % 
      (date_list[0]+10, date_list[1], date_list[2]))

날짜(연/월/일)입력:2022/05/11
입력한 날짜의 10년 후는 2032년 5월 11일

In [114]:
# if - else

a = 200

if a < 100:
    print("참")
    print("100보다 작다")
else:
    print("거짓")
    print("100보다 크거나 같다")

print("프로그램 끝")

거짓
100보다 크거나 같다
프로그램 끝

In [115]:
# if - elif - else

num = int(input("정수를 입력하시오: "))

if num > 0:
    print("양수입니다.")
elif num == 0:
    print("0입니다.")
else:
    print("음수입니다.")

정수를 입력하시오: 99
양수입니다.

조건문 - 실습1)
학생수준평가 시험에서 영어 점수와 수학 점수가 합해서 110점 이상이면 합격이다. 단, 각 점수가 40점 미만이면 불합격이다. 영어(eng), 수학(math)점수를 입력받아 합격 여부를 출력하는 프로그램을 작성하시오.

In [122]:
eng = int(input("영어 점수 입력:"))
math = int(input("수학 점수 입력:"))

if eng + math < 110 or eng < 40 or math < 40:
    # 불합격
    if eng + math < 110:
        print("불합격: 총합 점수 부족")
    elif eng < 40:
        print("불합격: 영어 점수 부족")
    elif math < 40:
        print("불합격: 수학 점수 부족")
    else:
        print("오류 발생")
else:  # 합격
    print("합격")

영어 점수 입력:35
수학 점수 입력:95
불합격: 영어 점수 부족

조건문 - 실습2) 세 개의 정수를 입력 받아, 가장 큰 수만 출력하는 프로그램을 작성하시오. (반복문, max 함수, 정렬 함수 등을 사용할 수 없음)

In [130]:
input_value = input("세 개의 수를 입력하시오")
a, b, c = input_value.split(" ")

max_number = None

if int(a) > int(b):
    max_number = int(a)
else:
    max_number = int(b)

if max_number < int(c):
    max_number = int(c)    

print("가장 큰 수는 %d입니다." % (max_number))

세 개의 수를 입력하시오30 22 50
가장 큰 수는 50입니다.

In [131]:
# while

number = 1
while number <= 5:
    print(number, end=(" "))
    number += 1

1 2 3 4 5

In [135]:
# 1부터 10까지의 합
digit = 0
repeat = 0

while repeat < 11:
    digit += repeat
    repeat += 1

print(digit)

55

In [137]:
# for
# range(start, stop, step)

input_number = int(input("출력하고 싶은 단을 입력하세요: "))

for integer in range(1, 10):
    print("{} * {} = {:2d}".format(input_number, integer, input_number*integer))

출력하고 싶은 단을 입력하세요: 7
7 * 1 =  7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63